
.info1 {
    font-size: 16px;
    color: red;
    font-weight: bold;
}

.info2 {
    font-size: 10px;
    color: black;
}

.info3 {
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    color: black;
}











